.load_img_post {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000;
  cursor: pointer;
  background: #F1F1F1;
  margin-top: 10px;
}

/* wpstart_admin_table */
.wpstart_admin_table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
  font-size:14px;
  width:100%;
  border: 1px dashed #798E96;
  margin-bottom: 20px;
}
.wpstart_admin_table caption {
  padding: 10px;
  color: white;
  background: #798E96;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.wpstart_admin_table tr {
  border-bottom: 1px dashed #798E96;
}
.wpstart_admin_table th {
  width: 200px;
  padding: 10px;
  text-align: left;
}
.wpstart_admin_table td {
  padding: 10px;
}


.w100p {
  width: 100%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #82878c!important;
}
.my__gallery__wrap {
  margin: 10px -5px;
  overflow: hidden;
}
.my__gallery__item {
  float: left;
  vertical-align: top;
  width: 120px;
  margin: 5px;
  overflow: hidden;
}
.my__img__wrap {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.my__gallery__item__add_img,
.add_gallery_block__btn,
.upload_image_button, 
.custom_field_construct__btn, 
.startwp__add_file__btn, 
.remove_image_button, 
.my__gallery__item__remove_img {
  display: block;
  float: left;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transiton: .3s;
  -moz-transiton: .3s;
  -ms-transiton: .3s;
  -o-transiton: .3s;
  transiton: .3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.upload_image_button,
.custom_field_construct__btn,
.my__gallery__item__add_img {
  width: 90px;
  background: #5e8471;
}
.remove_image_button, 
.my__gallery__item__remove_img {
  width: 30px;
  background: #6c6b6f;
}
.startwp__add_file__btn:hover,
.custom_field_construct__btn:hover,
.upload_image_button:hover,
.remove_image_button:hover,
.add_gallery_block__btn:hover, 
.my__gallery__item__add_img:hover,
.my__gallery__item__remove_img:hover {
  opacity: 0.8;
}
.startwp__add_file__btn {
  display: block;
  background: #5e8471;
  float: none;
  width: 200px;
}
.add_gallery_block__btn {
  display: block;
  background: #5e8471;
  float: none;
  width: 230px;
}
.loaded_img {
  display: block;
  width: 120px;
  height: 100px;
  box-sizing: border-box;
  background: #F1F1F1;
  text-align: center;
  line-height: 100px;
}





/* custom_field_construct */
.custom_field_construct__item {
  position: relative;
  display: block;
  border: 2px dotted #7E9C8D;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.custom_field_construct__item table {
  width: 100%;
  table-layout: fixed;
}
.custom_field_construct__item td {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.custom_field_construct__item input,
.custom_field_construct__item textarea {
  width: 100%;
  resize: none;
  margin: 5px 0;
}
.custom_field_construct__item textarea {
  height: 110px;
}
.custom_field_construct__img {
  width: 100%;
  height: 100%;
}
.custom_field_construct__btn {
  float: none;
  display: inline-block;
  padding: 0 30px;
  margin-bottom: 15px;
  width: auto;
}
.custom_field_construct__item_img_wrap {
  border: 2px solid #0073AA;
  padding: 5px;
  width: 120px;
  line-height: 120px;
  height: 120px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.custom_field_construct__remove_item {
  position: absolute;
  top: -2px;
  right: -2px;
}
/* END custom_field_construct */




/* save_my_checkbox style */
.save_my_checkbox {
  display: none!important;
}
.save_my_checkbox span:not(checked) {
  position: absolute;
  opacity: 0;
}
.save_my_checkbox:not(checked) + span {
  position: relative; 
  padding: 0 0 0 45px; 
}
.save_my_checkbox:not(checked) + span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 20px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.save_my_checkbox:not(checked) + span:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; 
}
.save_my_checkbox:checked + span:before {
  background: #798E96;
}
.save_my_checkbox:checked + span:after {
  left: 20px;
}
/* END save_my_checkbox style */





 /* Базовый контейнер табов */
.tabs {
    min-width: 600px;
    padding: 0px;
    margin: 20px auto 0;
}
/* Стили секций с содержанием */
.tabs > section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs > section > p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* Прячем чекбоксы */
.tabs > input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}
/* Изменения стиля переключателей вкладок при наведении */
.tabs > label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */
.tabs > input:checked + label {
    color: #555;
    border-top: 2px solid #0085ba;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* tab:checked */
#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4 {
    display: block;
}
/* END Базовый контейнер табов */





/* for admin panel 
@media (min-width: 1100px) and (min-height: 500px){
  .post-php #side-sortables {
      position: fixed;
  }
}
*/


.qqqqqqqqqq {
  width: 100%;
}