.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

* {
  outline: none;
}

.container {
  float: left;
  width: 100%;
  position: relative;
}

.seo_text_top {
  padding-top: 5px;
  padding-bottom: 15px;
}
.seo_title {
  padding-bottom: 0px;
}

.container_out {
  z-index: 1;
  float: left;
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
  position: relative;
  margin-left: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  float: left;
  min-height: 1px;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1 {
  text-align: left;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  z-index: 2;
  margin-bottom: 20px;
}

h1:after {
  content: '';
  position: absolute;
  width: 150px;
  bottom: -5px;
  height: 1px;
  background: #639d1e;
}
.seo_text_wrapper .wrapper {
  overflow: hidden;
}
.seo_text_wrapper h2 {
  margin: 10px auto;
  font-size: 17px;
}
.seo_text_wrapper h3 {
	position: relative;
  text-align: center;
}
.seo_text_wrapper h3:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 90px;
    background: #639d1e;
    top: 50%;
    margin-top: -1px;
}
.seo_text_wrapper h3:before {
    margin-left: -105px;
}
.seo_text_wrapper p {
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}
/* FOR WP */ 
img.aligncenter {
  position: relative;
  display: block;
  margin: 15px auto;
}
img.alignright {
  position: relative;
  z-index: 10;
  float: right;
  margin: 11px 0 11px 11px;
}
img.alignleft {
  position: relative;
  z-index: 10;
  float: left;
  margin: 11px 11px 11px 0px;
}




h2 {
  z-index: 2;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 30px;
}

h2:before,
h2:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 90px;
  background: #639d1e;
  top: 50%;
  margin-top: -1px;
}

h2:before {
  margin-left: -105px;
}

h2:after {
  margin-left: 15px;
}

h3 {
  z-index: 2;
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 15px;
}

h3:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 90px;
  background: #639d1e;
  top: 50%;
  margin-top: -1px;
  margin-left: 15px;
}

h4 {
  position: relative;
  z-index: 2;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
}

p {
  line-height: 1.5em;
  margin-top: 0;
}

.quote {
  width: 90%;
  margin-left: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: solid 1px #639d1e;
  padding-left: 15px;
}

a {
  color: inherit;
}

.cbalink {
  display: none;
}

html {
  height: 100%;
  width: 100%;
  float: left;
  min-width: 320px;
}

body {
  width: 100%;
  float: left;
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: "HelveticaRegular", sans-serif;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 85%;
}

div,
section,
span,
input,
button,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select,
input,
button,
textarea {
  font-family: inherit;
}

.section,
section {
  width: 100%;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

#footer {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

#header {
  background: #010101;
  color: #fff;
  width: 100%;
  float: left;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-bottom: 0;
  padding-top: 0;
}

#header .container {
  padding-left: 300px;
  height: 100px;
  line-height: 170px;
  padding-bottom: 45px;
}

#header .logo {
  line-height: normal;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#header .logo img {
  margin-bottom: 10px;
  vertical-align: middle;
  display: inline-block;
  max-height: 55px;
  max-width: 100%;
}

.header_menu {
  /*
  height: 40px;
  */
  position: absolute;
  bottom: 0;
  left: 250px;
  display: inline-block;
  line-height: normal;
  vertical-align: bottom;
  width: -webkit-calc(100% - 450px);
  width: calc(100% - 450px);
}

.header_menu ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_menu ul li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
  float: left;
  padding: 10px;
  text-align: center;
  position: relative;
  padding-bottom: 18px;
}

.header_menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header_menu ul li a:hover {
  color: #afe470;
}

.header_search {
  position: absolute;
  bottom: 0;
  right: 0;
  vertical-align: bottom;
  width: 195px;
  line-height: normal;
  display: inline-block;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px #d4d4d4;
  margin-bottom: 10px;
}

.header_search .header_search__text {
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  outline: none;
  position: absolute;
  width: -webkit-calc(100% - 3em);
  width: calc(100% - 3em);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-color: #eee;
  padding: 0 15px;
}

.header_search .header_search__text:focus {
  background-color: #fff;
  border: none;
}

.header_search .header_search__submit {
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 3em !important;
  right: 0;
  background-color: #eee;
  background-image: url(../images/icons/search.svg);
  background-size: 36%;
  background-position: center;
  background-repeat: no-repeat;
}

.header_search .header_search__submit:hover {
  cursor: pointer;
  background-color: #d4d4d4;
}

.header_info {
  height: 55px;
  line-height: 55px;
  width: 100%;
  position: relative;
}

.header_info .descriptor {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 30px;
  float: left;
}

.header_info .phones {
  display: inline-block;
  vertical-align: middle;
  margin-left: -15px;
  float: left;
}

.header_info .phones span {
  display: inline-block;
  padding: 0 15px;
}

.header_info .working_time {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.header_info .working_time span {
  display: inline-block;
  padding: 0 15px;
}

.header_info .cart {
  float: right;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
}

.header_info .cart .icon {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  background-image: url(../images/icons/cart.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}







#footer {
  width: 100%;
  float: left;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #010101;
  border-top: solid 4px #010101;
}

#footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .logo {
  float: left;
}

#footer .logo img {
  margin-top: -8px;
}

#footer .footer_menu {
  display: block;
  float: left;
}

#footer .footer_menu ul {
  list-style-type: none;
  padding-left: 0;
  float: left;
  width: 200px;
}

#footer .footer_menu ul li {
  margin-bottom: 10px;
}

#footer .footer_info {
  float: left;
}

.gallery_preview {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  border: solid 1px #eee;
  width: 100%;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  text-decoration: none;
}

.product_preview {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  border: solid 1px #eee;
  padding: 15px;
  width: 100%;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  text-decoration: none;
}

.product_preview .read_more {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: relative;
  top: -50%;
  margin-top: -1em;
  background: #639d1e;
  color: #fff;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 5px;
}

.product_preview:after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #010101;
  visibility: hidden;
  opacity: 0;
}

.product_preview:hover .read_more {
  visibility: visible;
  opacity: 1;
  top: 50%;
}

.product_preview:hover:after {
  visibility: visible;
  opacity: 0.7;
}

advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.advantage_image {
  width: 120px;
  max-height: 120px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
}

.advantage_description {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.3em;
}

.category_preview {
  display: block;
  height: 330px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.category_preview:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 6, 0, 0.6);
}

.category_preview:hover:after {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: rgba(16, 6, 0, 0.2);
}

.category_preview:hover .category_preview_title {
  opacity: 1;
  width: 100%;
}

.category_preview:hover .category_preview_title:after,
.category_preview:hover .category_preview_title:before {
  background-color: #639d1e;
}

.category_preview:hover .category_preview_title .category_preview_title_text {
  background-color: #639d1e;
}

.category_preview:hover .category_preview_title .category_preview_title_text:after {
  left: 280px;
  background-color: #639d1e;
}

.category_preview_title {
  overflow: hidden;
  opacity: 0.8;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  top: 50px;
  padding: 15px 30px 15px 0;
  display: inline-block;
  width: 250px;
  color: #fff;
}

.category_preview_title .category_preview_title_text {
  position: relative;
  z-index: 2;
  background: black;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}

.category_preview_title .category_preview_title_text:after {
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  content: '';
  position: absolute;
  height: 100%;
  background: #000;
  width: 1000%;
  left: 0;
  top: 50%;
  margin-top: -5px;
  z-index: -1;
}

.category_preview_title:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: -webkit-calc(50% - 0.5px);
  height: calc(50% - 0.5px);
  background: black;
}

.category_preview_title:before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: -webkit-calc(50% - 0.5px);
  height: calc(50% - 0.5px);
  background: black;
}

.banner {
  width: 100%;
  float: left;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d4d4d4;
  height: -webkit-calc(100vh - 90px);
  height: calc(100vh - 90px);
  min-height: 320px;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
}

.banner .banner_text {
  font-family: "Palatino Linotype", Serif;
  position: relative;
  font-size: 2.2em;
  text-shadow: 0px 0px 30px white;
}

.catalog {
  padding: 0;
}

.breadcrumbs {
  position: relative;
  z-index: 50;
  padding-bottom: 0;
  padding-top: 0;
}

.breadcrumbs.catalog_breadcrumbs {
  background-color: #dff4c6;
  z-index: 1;
}

.breadcrumbs #path {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.breadcrumbs #path a {
  text-decoration: none;
  color: #4e4e4e;
}

.breadcrumbs #path a:hover {
  color: #010101;
}

.breadcrumbs #path .separator {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-top: -2px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1em;
}

.breadcrumbs .breadcrumbs_category {
  position: relative;
  display: block;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  line-height: 210px;
  margin-bottom: 30px;
}

.breadcrumbs .breadcrumbs_category:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.breadcrumbs .breadcrumbs_category:after {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.4;
}

.category_title__wrap h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.breadcrumbs .breadcrumbs_category .breadcrumbs_category_title {
  position: relative;
  color: #fff;
  z-index: 2;
  padding: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: normal;
  width: 100%;
}

.gallery_preview {
  position: relative;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  width: 100%;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  border-radius: 17px;
  background: black;
  margin: 0 5px;
  background: #639d1e;
}
.slick-dots li.slick-active {
  background: #86D957;
}
.slick-dots li  button{
  display: none;
}

.breadcrumbs .breadcrumbs_category.active {
  cursor: default;
  pointer-events: none;
}

.breadcrumbs .breadcrumbs_category.active:after {
  background-color: #639d1e;
  opacity: 0.7;
}

.breadcrumbs .breadcrumbs_category.active:hover:after {
  background-color: #639d1e;
  opacity: 0.7;
}

.breadcrumbs .breadcrumbs_category:hover {
  cursor: pointer;
}

.breadcrumbs .breadcrumbs_category:hover:after {
  opacity: 0.2;
}

.filter {
  z-index: 2;
  padding-top: 0;
  padding-bottom: 15px;
}

.filter span {
  vertical-align: top;
  height: 35px;
  line-height: 35px;
  display: inline-block;
}

.filter .jq-selectbox {
  margin-left: 15px;
  margin-bottom: 15px;
  border: solid 1px #eee;
}

.catalog_preview__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.catalog_preview {
  position: relative;
  text-align: center;
  text-decoration: none;
  line-height: 1.5em;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  border: solid 1px #eee;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.catalog_preview:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.resizeTo1x1 img {
  max-width: 100%;
  height: auto;
}

.catalog_preview:after {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  background-color: #639d1e;
}

.catalog_preview:hover:after {
  opacity: 0.2;
}

.catalog_preview .title {
  height: 60px;
}

.catalog_preview .title,
.catalog_preview .price {
  position: relative;
  z-index: 3;
}

.catalog_preview .old_price {
  text-decoration: line-through;
}

.catalog_preview .low_price {
  color: #f33;
}

.promo_title {
  display: block;
  margin-top: 10px;
}

.promo_more_btn {
  text-decoration: none;
}

.catalog_preview .product_preview {
  position: relative;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.catalog_preview .product_preview:hover:after {
  display: none;
}

.catalog_preview .buy_now,
.catalog_preview .read_more {
  position: relative;
  z-index: 3;
  width: 100%;
  display: block;
  border: solid 1px #639d1e;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.catalog_preview .buy_now:hover,
.catalog_preview .read_more:hover {
  background-color: #fff;
  color: #639d1e;
  cursor: pointer;
}

.catalog_preview .buy_now {
  float: left;
  background-color: #639d1e;
  color: #fff;
}

.catalog_preview .read_more {
  float: left;
}

.product_title {
  float: right;
  text-transform: uppercase;
  margin-top: 0;
}

.product_title h1 {
  position: relative;
  display: inline-block;
}

.product_controls {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.product_controls button {
  width: 100%;
  background: #fff;
  height: 40px;
}

.product_controls span:first-child {
  font-weight: bold;
}

.product_controls .buy_now,
.product_controls .read_more {
  cursor: pointer;
  position: relative;
  z-index: 3;
  width: 100%;
  display: block;
  border: solid 1px #639d1e;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product_controls .buy_now:hover,
.product_controls .read_more:hover {
  background-color: #fff;
  color: #639d1e;
}

.product_controls .buy_now {
  float: left;
  background-color: #639d1e;
  color: #fff;
}

.product_controls .read_more {
  float: left;
}

.tabs {
  overflow-x: hidden;
  background: #fff;
  width: 100%;
  float: left;
  border: solid 1px #eee;
  background: #dff4c6;
}

.tabs .tab_titles {
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
  background: #dff4c6;
  width: 100%;
  float: left;
}

.tabs .tab_titles .tab_title {
  float: left;
  padding: 15px;
  cursor: pointer;
}

.tabs .tab_titles .tab_title.active {
  background: #fff;
}

.tabs .tab_block {
  background: #fff;
  padding: 15px;
  float: left;
  width: 100%;
  display: none;
}

.tabs .tab_block.active {
  display: block;
}

.about_images img {
  display: block;
}

.about_images img:nth-of-type(2n) {
  max-width: 50%;
  min-width: 30%;
  height: auto;
  margin-bottom: -150px;
  margin-left: -15px;
}

.about_images img:nth-of-type(3n) {
  width: 60%;
  height: auto;
  margin-right: -15px;
  margin-bottom: -25px;
  margin-left: 40%;
}

.about_images img:nth-of-type(1),
.about_images img:nth-of-type(4n) {
  max-width: 100%;
  min-width: 70%;
  height: auto;
  margin-bottom: -90px;
  margin-left: auto;
  margin-right: auto;
}

.contacts_page {
  background-image: url(../images/contacts/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;
  width: 100%;
  min-height: -webkit-calc(100vh - 223px);
  min-height: calc(100vh - 223px);
  position: relative;
}

.contacts_page:after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 0;
  opacity: 0.8;
}

.contacts_form {
  position: relative;
  z-index: 1;
  padding-top: 30px;
}

.contacts_form h2 {
  margin-bottom: 15px;
}

.contacts_form p {
  text-align: center;
  margin-bottom: 15px;
}

.contacts_form span {
  margin-bottom: 5px;
  display: block;
}


.contacts_form input {
  background-color: transparent;
  width: 100%!important;
  padding: 10px 15px!important;
  margin-bottom: 15px!important;
  border: solid 1px #010101!important;
  border-radius: 0px!important;
}

.contacts_form input[type="submit"] {
  background-color: #ff7541;
  border: none;
  color: #fff;
}

.contacts_form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #ff6227;
}

.contacts_form textarea {
  background-color: transparent;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: solid 1px #010101;
  min-height: 220px;
  resize: none;
}

.city,
.phone,
.time,
.email {
  padding-top: 15px;
  padding-bottom: 15px;
}

.city .icon,
.phone .icon,
.time .icon,
.email .icon {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin-bottom: -0.35em;
  margin-right: 0.5em;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.city .icon {
  background: url(../images/icons/contacts/home.svg);
}

.phone .icon {
  background: url(../images/icons/contacts/phone-call.svg);
}

.time .icon {
  background: url(../images/icons/contacts/clock.svg);
}

.email .icon {
  background: url(../images/icons/contacts/mail.svg);
}

.cart_item {
  font-size: 115%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 15px 30px;
  float: left;
  width: 100%;
  background-color: #dff4c6;
  border-bottom: solid 1px #a2a2a2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  /* plugin "JQueryFormStyler" custom styles */
}

.cart_item:after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cart_item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ccc;
  opacity: 0;
  z-index: 0;
  visibility: hidden;
}

.cart_item.disabled {
  background-color: #e1e1e1;
  pointer-events: none;
}

.cart_item.disabled:after {
  visibility: visible;
  opacity: 0.7;
}

.cart_item.disabled .cart_item_check {
  z-index: 1;
  position: relative;
  pointer-events: auto;
}

.cart_item.disabled .cart_item_check .jq-checkbox {
  background: #eee;
}

.cart_item .cart_item_check {
  text-align: center;
  height: 150px;
  width: 30px;
  margin-right: 30px;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart_item .product_preview {
  width: 150px;
  height: 150px;
  float: left;
  margin-bottom: 0;
  font-size: 80%;
}

.cart_item .cart_item_title {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  float: left;
  width: 300px;
  font-weight: 700;
}

.cart_item .cart_item_title a {
  text-decoration: none;
}

.cart_item .cart_item_quantity {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  float: left;
}

.cart_item .cart_item_price_wrapper {
  float: right;
}

.cart_item .cart_item_price,
.cart_item .cart_item_total_price {
  width: 100px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  float: left;
}

.cart_item .cart_item_price span,
.cart_item .cart_item_total_price span {
  margin-right: .5em;
}

.cart_item .cart_item_quantity .jq-number {
  height: 34px;
  background-color: #fff;
  padding-right: 18px;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: solid 1px #639d1e;
}


.filter__right {
  text-align: right;
}
.filter__right * {
  text-align: left;
}


.tovar_ingredients_list {
  padding-left: 20px;
}
.tovar_ingredients_list li {
  margin: 10px 0;
}


/* search_result */
.search_result ul li {
  margin-bottom: 10px;
}

.cart_item .cart_item_quantity .jq-number__field {
  text-align: center;
  border: none !important;
}

.cart_item .cart_item_quantity .jq-number__field input {
  text-align: center;
  border: none !important;
  outline: none !important;
}

.cart_item .cart_item_quantity .jq-number__spin {
  margin-right: -1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #fff;
  border: solid 1px #639d1e;
  width: 18px;
  height: 18px;
}

.cart_item .cart_item_quantity .jq-number__spin:after {
  left: 3px;
}

.cart_item .cart_item_quantity .jq-number__spin.minus {
  top: auto;
  bottom: -1px;
}

.cart_item .cart_item_quantity .jq-number__spin.minus:after {
  top: 5px;
}

.cart_item .cart_item_quantity .jq-number__spin.plus {
  top: -1px;
}

.cart_item .cart_item_quantity .jq-number__spin.plus:after {
  top: 6px;
}

.cart_item .cart_item_check .jq-checkbox {
  height: 20px;
  width: 20px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  border: solid 1px #639d1e !important;
  position: relative;
  overflow: visible;
}

.cart_item .cart_item_check .jq-checkbox.checked {
  overflow: visible;
}

.cart_item .cart_item_check .jq-checkbox.checked .jq-checkbox__div {
  margin: 0;
  background: #fff !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 16px;
  width: 8px;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 3px;
  top: auto;
  left: 9px;
  border-right: solid 2px #639d1e;
  border-bottom: solid 2px #639d1e;
}

.cart_total {
  padding: 15px 30px;
  background-color: #dff4c6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 100%;
}

.cart_total .cart_total_title {
  width: 100px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  float: right;
  font-weight: 700;
  font-size: 1.4em;
}

.cart_total .cart_total_price {
  width: 100px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  float: right;
  font-weight: 700;
  font-size: 1.4em;
}

.cart_total .cart_total_price span {
  margin-right: .5em;
}

.cart_whats_next {
  background-color: #dff4c6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 30px;
}

.cart_whats_next a {
  text-decoration: none;
}


span.strong {
  font-weight: bold;
}



/* BLOG */
.blog__item {
  margin-bottom: 50px;
}
.blog__item__title {
  margin-bottom: 20px;
}
.blog__item__title a {
  text-decoration: none;
}

















.cart_whats_next button,
.cart_whats_next input[type="submit"],
.cart_whats_next input[type="button"] {
  margin: 0 0 0 15px;
  padding: 10px 35px;
  cursor: pointer;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: transparent;
  border: solid 1px #639d1e;
  outline: none;
}

.cart_whats_next button:hover,
.cart_whats_next input[type="submit"]:hover,
.cart_whats_next input[type="button"]:hover {
  background: #639d1e;
  color: #fff;
}

.cart_whats_next button.checkout,
.cart_whats_next input[type="submit"].checkout,
.cart_whats_next input[type="button"].checkout {
  border-color: #ff6227;
}

.cart_whats_next button.checkout:hover,
.cart_whats_next input[type="submit"].checkout:hover,
.cart_whats_next input[type="button"].checkout:hover {
  background: #ff6227;
}

input[type="tel"],
input[type="text"],
input[type="email"],
select,
.jq-selectbox {
  padding: 10px 15px;
  border: solid 1px #639d1e;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}

input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
.jq-selectbox:focus {
  border: solid 1px #ff6227;
}

input[type="submit"],
button,
input[type="button"] {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: transparent;
  border: solid 1px #ff6227;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

input[type="submit"]:hover,
button:hover,
input[type="button"]:hover {
  color: #fff;
  background-color: #ff6227;
}

.jq-selectbox {
  padding: 0;
}

.checkout_form {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 115%;
  width: -webkit-calc(100% - 330px);
  width: calc(100% - 330px);
  float: right;
  margin-right: 30px;
  background-color: #dff4c6;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkout_form .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.checkout_form label {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.checkout_form input[type="tel"],
.checkout_form input[type="text"],
.checkout_form input[type="email"],
.checkout_form select,
.checkout_form .jq-selectbox {
  width: 100%;
  padding: 10px 15px;
  border: solid 1px #639d1e;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}


.checkout_form input[type="tel"]:focus,
.checkout_form input[type="text"]:focus,
.checkout_form input[type="email"]:focus,
.checkout_form select:focus,
.checkout_form .jq-selectbox:focus {
  border: solid 1px #ff6227;
}

.checkout_form input[type="submit"] {
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: transparent;
  border: solid 1px #ff6227;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
}

.checkout_form input[type="submit"]:hover {
  color: #fff;
  background-color: #ff6227;
}

.checkout_form .jq-radio {
  height: 16px;
  width: 16px;
}

.checkout_form .jq-radio.focused {
  border: solid 1px #ff6227;
}

.checkout_form .jq-radio.checked .jq-radio__div {
  position: absolute;
  height: 8px;
  width: 8px;
  background: #639d1e;
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}

.checkout_form .jq-selectbox {
  padding: 0;
}

.checkout_form .jq-selectbox.opened {
  border: solid 1px #ff6227;
}

.checkout_form .jq-selectbox .jq-selectbox__select {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.checkout_form .jq-selectbox .jq-selectbox__dropdown {
  width: 100% !important;
}

.checkout_items,
.checkout_results {
  float: right;
  width: 300px;
  background-color: #fff;
  border: solid 1px #a2a2a2;
  padding: 15px 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.checkout_items h4,
.checkout_results h4 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkout_items .checkout_item,
.checkout_results .checkout_item {
  float: left;
  margin-bottom: 15px;
  width: 100%;
  padding: 0 15px;
}

.checkout_items .checkout_item_image,
.checkout_results .checkout_item_image {
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  float: left;
  border: solid 1px #eee;
}

.checkout_items .cart_item_title,
.checkout_results .cart_item_title {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  text-align: right;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}

.checkout_items .cart_item_price,
.checkout_results .cart_item_price {
  margin-bottom: 10px;
}

.checkout_items .cart_item_total_price,
.checkout_items .cart_item_price,
.checkout_results .cart_item_total_price,
.checkout_results .cart_item_price {
  text-align: right;
}

.checkout_items .checkout_total,
.checkout_results .checkout_total {
  padding: 15px 15px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  float: left;
  border-top: solid 1px #a2a2a2;
  font-size: 115%;
}

.checkout_items .checkout_total .price_wrapper,
.checkout_results .checkout_total .price_wrapper {
  float: right;
}

.checkout_items .checkout_total span,
.checkout_results .checkout_total span {
  font-weight: 700;
}

.checkout_total_results {
  width: 100%;
  float: left;
  padding: 15px 15px 15px 15px;
}

.checkout_total_results .checkout_title {
  font-size: 115%;
  text-align: left;
}

.seo_text_wrapper__title {
}
.seo_text_wrapper__title h2 {
  clear: both;
  padding-top: 0px;
}



.checkout_total_results .checkout_title span {
  font-weight: 700;
}

.checkout_total_results ul {
  list-style-type: none;
  padding-left: 0;
}

.checkout_total_results ul li {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  display: block;
}

.checkout_total_results ul li .value {
  margin-left: 10px;
  float: right;
  width: auto;
  display: inline-block;
}

.checkout_total_contacts {
  width: 100%;
  float: left;
  border-top: solid 1px #6f6f6f;
  padding: 30px 15px;
}

.checkout_total_contacts p:last-of-type {
  margin-bottom: 0;
}

.checkout_total_price {
  width: 100%;
  float: left;
  border-top: solid 1px #6f6f6f;
  padding: 30px 15px 15px 15px;
}

.checkout_total_price p {
  font-size: 115%;
  margin-bottom: 0;
}

.checkout_total_price p span.value {
  font-weight: 700;
}

.subscribe_form input[type="email"] {
  min-width: 240px;
  margin-right: 15px;
}

.page_404 {
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}

.page_404:after {
  z-index: -1;
  position: absolute;
  content: '';
  top: -100px;
  left: 0;
  width: 60%;
  height: 100vh;
  background-color: #fff;
  background-image: url(../images/404/background.jpg);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.page_404 h1 {
  text-align: center;
  font-size: 20em;
  color: #222222;
}

.page_404 h1:before,
.page_404 h1:after {
  content: none;
}

.page_404 h2 {
  color: #222222;
  font-size: 4em;
}

.page_404 h2:before,
.page_404 h2:after {
  content: none;
}

.page_404 a {
  text-decoration: none;
  cursor: default;
}

.page_404 button {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 60;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal_wrapper.close {
  -webkit-transition: all 0.3s 0.5s ease;
  transition: all 0.3s 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.modal_wrapper.close .modal_window {
  -webkit-transition: margin 0.5s 0s ease;
  transition: margin 0.5s 0s ease;
  margin-top: -100%;
}

.modal_wrapper .modal_window {
  -webkit-transition: margin 1s 0.3s ease;
  transition: margin 1s 0.3s ease;
  border: solid 1px #ff6227;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 100%;
  width: 100%;
  max-height: 260px;
  max-width: 260px;
  background-color: #fff;
  padding: 15px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -130px;
  margin-top: -130px;
}

.modal_wrapper .modal_window input {
  width: 100%;
  margin-bottom: 15px;
}

.modal_wrapper .modal_window p {
  text-align: center;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 700;
  margin-bottom: 30px;
}

.modal_wrapper .modal_window .close_window {
  height: 30px;
  width: 30px;
  position: absolute;
  right: -30px;
  top: -30px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #fff;
  border: solid 1px #ff6227;
  cursor: pointer;
}

.modal_wrapper .modal_window .close_window span {
  display: block;
  height: 20px;
  width: 2px;
  background-color: #ff6227;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 13px;
  top: 4px;
}

.modal_wrapper .modal_window .close_window span:first-of-type {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}




/* item_price_wrap */
.item_price_wrap {
  height: 45px;
}





.seo_ingr__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* magic img for height */
.seo_ingr__img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  max-width: initial;
  max-height: 100%;
  width: auto;
  height: auto;
}







/* Select */

.jq-selectbox .jq-selectbox__select {
  outline: none;
  height: 35px;
  line-height: 35px;
  border: solid 1px #eee;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: 1em;
  padding: 0 50px 0 10px;
  color: #010101;
  text-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.jq-selectbox .jq-selectbox__select:hover {
  background: #fff;
}

.jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  width: auto !important;
}

.jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
  background: #eee;
  border-left: none;
}

.jq-selectbox .jq-selectbox__dropdown {
  -webkit-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  margin-top: 15px;
}

.jq-selectbox .jq-selectbox__dropdown li.selected {
  background: #666;
  color: #fff;
}

.jq-selectbox .jq-selectbox__dropdown li:hover {
  background: #eee;
  color: #010101;
}

.jq-selectbox.focused .jq-selectbox__select {
  border-color: #d4d4d4 !important;
}

.jq-selectbox.focused .jq-selectbox__dropdown {
  visibility: visible;
}


/* ingredients__item */
.ingredients_archive {
  overflow: hidden;
}
.ingredients_archive .row {
  margin: 0 -15px;
}
.ingredients__item {
  height: 160px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  background: #eee;
}
.ingredients__item img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  max-width: initial;
}
.ingredients__item__title {
  position: absolute;
  color: #fff;
  z-index: 2;
  padding: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: normal;
  width: 100%;
  bottom: 30px;
}
.ingredients__item a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.ingredients__item a:hover:after {
  opacity: 0.1;
}



/* dropdown_nav */
.header_menu ul.dropdown_nav {
  display: none;
  position: absolute;
  z-index: 100;
  background: rgba(99, 157, 30, 0.94);
  left: 0;
  top: 100%;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.header_menu ul.dropdown_nav li {
  display: block;
  border-bottom: 1px dotted #757575;
  float: none;
  padding: 0;
}
.header_menu ul.dropdown_nav li a {
  display: block;
  padding: 5px 10px;
}
.header_menu ul li:hover .dropdown_nav {
  display: block;

}






@media screen and (min-width: 240px) {
  .col-xxxs-1 {
    width: 8.3333333333%;
  }

  .col-xxxs-2 {
    width: 16.6666666666%;
  }

  .col-xxxs-3 {
    width: 25%;
  }

  .col-xxxs-4 {
    width: 33.3333333333%;
  }

  .col-xxxs-5 {
    width: 41.6666666666%;
  }

  .col-xxxs-6 {
    width: 50%;
  }

  .col-xxxs-7 {
    width: 58.3333333333%;
  }

  .col-xxxs-8 {
    width: 66.6666666666%;
  }

  .col-xxxs-9 {
    width: 75%;
  }

  .col-xxxs-10 {
    width: 83.3333333333%;
  }

  .col-xxxs-11 {
    width: 91.6666666666%;
  }

  .col-xxxs-12 {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .col-xxs-1 {
    width: 8.3333333333%;
  }

  .col-xxs-2 {
    width: 16.6666666666%;
  }

  .col-xxs-3 {
    width: 25%;
  }

  .col-xxs-4 {
    width: 33.3333333333%;
  }

  .col-xxs-5 {
    width: 41.6666666666%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .col-xxs-7 {
    width: 58.3333333333%;
  }

  .col-xxs-8 {
    width: 66.6666666666%;
  }

  .col-xxs-9 {
    width: 75%;
  }

  .col-xxs-10 {
    width: 83.3333333333%;
  }

  .col-xxs-11 {
    width: 91.6666666666%;
  }

  .col-xxs-12 {
    width: 100%;
  }
}

@media screen and (min-width: 540px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }

  .col-xs-2 {
    width: 16.6666666666%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.3333333333%;
  }

  .col-xs-5 {
    width: 41.6666666666%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.3333333333%;
  }

  .col-xs-8 {
    width: 66.6666666666%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.3333333333%;
  }

  .col-xs-11 {
    width: 91.6666666666%;
  }

  .col-xs-12 {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666666%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666666%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666666%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666666%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666666%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666666%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666666%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666666%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-1:nth-last-of-type(12n) {
    clear: both;
  }

  .col-xl-2 {
    width: 16.6666666666%;
  }

  .col-xl-2:nth-last-of-type(6n) {
    clear: both;
  }

  .col-xl-3 {
    width: 25%;
  }

/*
  .col-xl-3:nth-last-of-type(4n) {
    clear: both;
  }
  */

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-4:nth-last-of-type(3n) {
    clear: both;
  }

  .col-xl-5 {
    width: 41.6666666666%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-6:nth-last-of-type(2n) {
    clear: both;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666666%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666666%;
  }

  .col-xl-12 {
    width: 100%;
    clear: both;
  }
}

@media screen and (min-width: 1170px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    width: 16.6666666666%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    width: 41.6666666666%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    width: 66.6666666666%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-10 {
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    width: 91.6666666666%;
  }

  .col-xxl-12 {
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  #header .container {
    padding-bottom: 0;
    line-height: normal;
  }

  #header .logo {
    height: 70px;
    padding: 0;
  }

  #header .logo img {
    margin-top: 8px;
    margin-bottom: 10px;
    max-height: 55px;
  }

  #header .logo .descriptor {
    display: none;
  }

  #header .header_menu {
    line-height: normal;
    width: 100%;
    left: 0;
    position: relative;
    height: auto;
  }

  #header .header_search {
    display: none;
    position: absolute;
    width: 50%;
    height: 30px;
    margin: 0;
    top: 0;
    right: 0;
  }

  #header .header_info {
    position: relative;
    height: 60px;
    line-height: 60px;
  }

  #header .header_info .phones {
    line-height: 30px;
  }

  #header .header_info .phones span {
    display: block;
  }

  #header .header_info .working_time {
    line-height: 30px;
  }

  #header .header_info .working_time span {
    display: block;
  }

  #header .header_info .cart {
    line-height: 60px;
  }

  #header .header_info .cart .title {
    display: none;
  }

  #header .header_info {
    width: 100%;
  }

  #footer {
    border-top: solid 1px #010101;
  }

  #footer .footer_menu,
  #footer .footer_info {
    display: none;
  }

  #footer .logo {
    height: 40px;
    margin: 0 auto;
  }

  #footer .logo img {
    max-height: 100%;
  }

  .breadcrumbs .breadcrumbs_category {
    height: 90px;
    line-height: 90px;
    margin-bottom: 30px;
  }

  .checkout_items,
  .checkout_results {
    float: left;
    width: 100%;
    margin-bottom: 15px;
  }

  .checkout_items .checkout_item,
  .checkout_results .checkout_item {
    width: 33.3333333333%;
    min-width: 300px;
    float: left;
  }

  .checkout_form {
    margin-right: 0;
    width: 100%;
  }

  .page_404 {
    height: 50vh;
    width: 100%;
  }

  .page_404:after {
    width: 100%;
    height: 100%;
    background-position: left top;
  }

  .page_404 h1 {
    font-size: 10em;
  }

  .page_404 h2 {
    font-size: 2em;
  }

  .page_404 button {
    font-size: 1em;
  }
}






@media screen and (max-width: 960px) {
  .cart_item .cart_item_check {
    height: 100px;
  }

  .cart_item .product_preview {
    height: 100px;
    width: 100px;
  }

  .cart_item .cart_item_title {
    height: 100px;
    width: 240px;
  }

  .cart_item .cart_item_quantity {
    height: 100px;
  }

  .cart_item .cart_item_price {
    display: none;
  }

  .cart_item .cart_item_total_price {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  h1:before,
  h1:after {
    display: none;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 1.2em;
  }

  h2:before,
  h2:after {
    display: none;
  }

  h3 {
    font-size: 1.1em;
    margin-bottom: 30px;
  }

  h3:before,
  h3:after {
    display: none;
  }

  .section,
  section {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #header .logo {
    max-width: 100%;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }

  #header .logo img {
    height: 50px;
  }

  #header .logo .descriptor {
    display: none;
  }

  #header .header_info .descriptor,
  #header .header_info .phones,
  #header .header_info .working_time {
    display: none;
  }

  #header .header_info .cart {
    width: auto;
    top: 12px;
  }

  #header .header_info .cart p {
    display: none;
  }

  #header .header_menu {
    width: 100%;
    position: absolute;
  }

  #header .header_search {
    position: absolute;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    float: left;
    left: 0;
    top: 70px;
  }

  .category_preview {
    height: 240px;
  }

  .banner {
    text-align: center;
    font-size: 0.8em;
  }

  .product_title {
    width: 100%;
    float: left;
  }

  .right_side,
  .left_side {
    padding-left: 0;
    padding-right: 0;
  }

  .cart_item {
    background-color: #fff;
    width: 50%;
    border: none;
    padding: 15px;
    font-size: 100%;
  }

  .cart_item.disabled .cart_item_check {
    position: absolute;
  }

  .cart_item .cart_item_check {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    height: auto;
    width: auto;
  }

  .cart_item .product_preview {
    height: initial;
    width: 100%;
  }

  .cart_item .cart_item_title {
    height: auto;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }

  .cart_item .cart_item_quantity {
    padding: 15px 0;
    height: auto;
    float: left;
    width: 100%;
    text-align: center;
  }

  .cart_item .cart_item_price_wrapper {
    width: 100%;
  }

  .cart_item .cart_item_price {
    display: block;
    float: right;
    width: 100%;
    text-align: center;
    height: auto;
    padding-bottom: 15px;
  }

  .cart_item .cart_item_total_price {
    height: auto;
    float: right;
    width: 100%;
    text-align: center;
  }

  .cart_total {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cart_total .cart_total_title,
  .cart_total .cart_total_price {
    height: auto;
  }

  .cart_total .total_price {
    height: auto;
  }

  .cart_whats_next {
    display: block;
    background-color: #fff;
  }

  .cart_whats_next button,
  .cart_whats_next input[type="submit"],
  .cart_whats_next input[type="button"] {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .checkout_items .checkout_item,
  .checkout_results .checkout_item {
    width: 50%;
    min-width: 0;
    float: left;
  }
}

@media screen and (max-width: 540px) {
  .checkout_items .checkout_item,
  .checkout_results .checkout_item {
    width: 100%;
    min-width: 0;
    float: left;
  }

  input {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.25em;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1em;
    margin-bottom: 15px;
  }

  body {
    padding-top: 70px;
  }

  #header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }

  #header .container {
    height: 70px;
    position: relative;
    padding-bottom: 5px;
    padding-left: 0;
  }

  #header .logo {
    z-index: 500;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -20px;
  }

  #header .logo img {
    top: 0;
    margin-top: 0;
    height: auto;
  }

  #header .header_search {
    display: none;
    z-index: 200;
    position: absolute;
    height: 40px;
    width: -webkit-calc(100% - 185px);
    width: calc(100% - 185px);
    left: 115px;
    top: 0;
  }

  #header .header_info .descriptor,
  #header .header_info .phones,
  #header .header_info .working_time {
    display: none;
  }

  #header .header_info .cart {
    position: absolute;
    top: 10px;
    left: 0;
    width: 250px;
    bottom: 0;
  }

  #header .header_menu {
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #header .header_menu.open {
    left: 80px;
  }







  #header .header_menu ul {
    margin-left: -40px;
    position: static;
    float: left;
    display: block;
  }

  #header .header_menu ul li {
    width: 100%;
    padding: 0;
  }

  #header .header_menu ul li.active a {
    background-color: #639d1e;
    color: #fff;
  }

  #header .header_menu ul li a {
    padding: 15px;
    display: block;
    color: #010101;
  }

  #header .header_menu ul li a:hover {
    background-color: #639d1e;
    color: #fff;
  }

  #header .open_mobile_menu {
    height: 40px;
    width: 40px;
    background-color: #639d1e;
    position: fixed;
    top: 15px;
    right: 15px;
    border: double 3px #fff;
    background-image: url("../images/icons/menu.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
  }

  #footer {
    display: none;
  }

  .category_preview {
    height: 180px;
  }

  .banner {
    text-align: center;
    font-size: 0.5em;
  }

  .breadcrumbs {
    display: none;
  }

  .breadcrumbs .breadcrumbs_category {
    height: 75px;
    line-height: 75px;
    margin-bottom: 30px;
  }

  .filter {
    -webkit-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
    z-index: 5;
    background-color: #fff;
    position: fixed;
    border-top: solid 1px #639d1e;
  }

  .filter span {
    display: block;
    width: 100%;
    float: left;
  }

  .filter .jq-selectbox {
    margin-left: 0;
    width: 100%;
  }

  .filter .open_mobile_filter {
    display: block;
    height: 40px;
    width: 40px;
    background: #639d1e;
    position: absolute;
    right: 15px;
    top: -55px;
    background-image: url("../images/icons/filter.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: double 3px #fff;
  }

  .filter.open .open_mobile_filter {
    background-image: url("../images/icons/chevron_down.svg");
  }



  /* dropdown_nav */
.header_menu ul#dropdown_nav {
    display: none;
    position: relative!important;
    top: 0;
    margin: 0!important;
    float: none!important;
    padding: 0!important;
    width: auto!important;
    overflow: hidden;
    background: none!important;
  }










}

@media screen and (max-width: 360px) {
  .banner {
    text-align: center;
    font-size: 0.4em;
  }
}

.single_old_price {
  text-decoration: line-through;
}
.single_action_price {
  color: #f33;
}

.comments-area label {
  display: block;
}
.comments-area .comment-form-comment textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.comments-area .comments-title,
.comments-area .comment-reply-title {
  display: none;
}
.comments-area .comment-list {
  margin-bottom: 50px;
  padding: 0;
}
.comment-list li {
  border: 1px solid #639d1e;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
}
.comment-list .comment-author {
  padding: 9px;
  margin-bottom: 15px;
  background: rgba(223, 244, 198, 0.63);
}
.comment-list .comment-meta {
  margin-bottom: 15px;
}
.back_cart {
  margin: 0 0 0 15px;
    padding: 10px 35px;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    border: solid 1px #639d1e;
    outline: none;
    width: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 15px;
    text-align: center;
}
.back_cart:hover {
  background: #639d1e;
  color: #fff;
}
.cart_item__remove {
  font-size: 20px;
  cursor: pointer;
}
.cart__update_btn {
    height: 37px;
    display: inline-block;
}



.order_delivery_select .jq-selectbox__dropdown ul li {
  display: none;
}
.order_delivery_select .jq-selectbox__dropdown ul li:first-child {
  display: block;
}
.order_delivery_select__area .jq-selectbox__dropdown ul li {
  display: block;
}

.product_preview__guid {
  display: block;
  text-align: center;
  padding: 0 15px;
}
.product_preview__guid:hover {
  text-decoration: none;
}
.product_preview__wrap {
  min-height: 260px;
}

.wrapper h1 {
  z-index: 2;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 30px;
  padding: 0 40px
}

.single-product  .wrapper h1 {
  z-index: 2;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 30px;
  padding: 0 40px
}

.wrapper h1:before,
.wrapper h1:after {
  display: none;
  content: '';
  position: absolute;
  height: 1px;
  width: 40px;
  background: #639d1e;
  top: 50%;
  margin-top: -1px;
}

.wrapper h1:before {
  left: 0;
}

.wrapper h1:after {
  right: 0;
}
.single-product .wrapper p {
  text-align: justify;
}
.single-product h3:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 90px;
    background: #639d1e;
    top: 50%;
    margin-top: -1px;
	margin-left: -105px;
}

.phone .icon {
  float: left;
}
.contact_page_phones {
  display: block;
  margin-left: 30px;
  line-height: 1.3;
}

.single_category_title {
  all: unset;
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: normal;
  text-align: left;
}
.single_category_title:after,
.single_category_title:before {
  display: none;
}

.tab_title  {
  font-size: 13px;
}
.tab_title h2 {
  all: unset;
  font-size: 13px;
  font-weight: normal;
}
.tab_title h2:after,
.tab_title h2:before {
  display: none;
}